/* page setup
--------------------------------
*/

:root {
    font-family: 'Kanit', sans-serif;
    background-color: #111827;
    --blue: #0284c7;
    --green: #22c55e;
    --purple: #a855f7;
    --white: #f8fafc;
}

/* page items
--------------------------------
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: var(--white);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--blue);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
    background-color: #111827;
    color: var(--white);
}

.game-start {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 30px;
}

label {
    font-size: 1.5rem;
    color: var(--white);
}

input {
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: var(--white);
    width: 150px;
}

input:focus {
    outline-color: var(--blue);
}

button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 16px;
    padding: 8px;
}

.game-info {
    color: var(--white);
    font-size: 2rem;
}

/* page items bigger screen
--------------------------------
*/

@media screen and (min-width: 750px) {
    
    .container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 4rem;
    }

    .tile {
        width: 10rem;
        height: 10rem;
        font-size: 5rem;
    }
}

/* colors for X or O
--------------------------------
*/

.green {
    color: var(--green);
}

.purple {
    color: var(--purple);
}

/* hiding name and play
--------------------------------
*/

.hidden {
    display: none;
}